
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//font-awesome
@import '~font-awesome/scss/font-awesome';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fa-pencil-square-o{
  font-size: 1.5em;
  color:rgb(0, 38, 255) ;
}

.fa-pencil-square-o:hover{
  cursor: pointer;
  color: black;
}
.fa-file-text{
  font-size: 1.5em;
  color: rgb(255, 0, 212);
}

.fa-file-text:hover{
  cursor: pointer;
  color: black;
}

.addIcon{
  font-size: 1.5em;
  color: rgb(47, 0, 255);
}
.addIcon:hover{
  cursor: pointer;
  color: black;
}
.fa-question-circle{
  font-size: 1.5em;
  color: rgb(255, 0, 0);
}
.fa-question-circle:hover{
  cursor: pointer;
  color: black;
}
.footer {
  background-color: white;
}

.contentPadding{
  padding-top:20px; 
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}